/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Upload files Popup */
.upload-popup {
    padding: 20px 31px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: white;
    width: 90%;
    max-width: 1640px;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
}

.upload-popup.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    /* Animate to full scale */
}

.upload-popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 10px;
    border-bottom: 1px solid #E8E9E8;
    margin-bottom: 20px;
}

.upload-popup__title {
    font-size: 22px;
    font-family: 'proxima_novasemibold', sans-serif;
    color: #1BB21B;
    text-transform: uppercase;
}

.upload-popup__close-btn {
    background: #80808026;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.upload-popup__close-btn:hover {
    background-color: #808080;
}

.upload-popup__close-btn:hover svg path {
    fill: #fff;
}

.upload-popup__content {
    padding: 0;
}

.upload-popup__drop-zone {
    border: 2px dashed #159C2A;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
}

.upload-popup__drop-text {
    font-size: 15px;
    font-family: 'proxima_novasemibold';
    color: #232222;
    margin-bottom: 15px;
}

.upload-popup__or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 7px;
    color: #C0C0C0;
    font-family: 'proxima_novasemibold';
    text-transform: uppercase;
    margin-bottom: 25px;
}

.upload-popup__or-separator::before,
.upload-popup__or-separator::after {
    content: '';
    width: 90px;
    height: 1px;
    background-color: #D1D1D1;
}

.upload-popup__browse-btn {
    background-color: transparent;
    color: #159C2A;
    border: 1px solid #159C2A;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'proxima_novasemibold';
    width: 126px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.upload-popup__browse-btn:hover {
    background-color: #159C2A;
    color: #fff;
}

.upload-popup__file-info {
    margin-top: 30px;
    font-size: 12px;
    color: #232222;
    font-family: 'proxima_nova';
}

.upload-popup__file-info span {
    color: #159C2A;
}

.upload-popup__file-info strong {
    font-family: 'proxima_novasemibold';
}

.upload-popup__footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 20px 0;
}

.upload-popup__button {
    width: 140px;
    height: 45px;
    background-color: #1BB21B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-family: 'proxima_novasemibold';
    font-size: 15px;
}

/* Documents Modal Styles */
.modal {
    padding: 15px 20px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    z-index: 1003;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal__title {
    font-size: 24px;
    font-family: 'Urbanist', sans-serif;
    color: #232323;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}

.modal__close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: auto;
}

.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal .section-title {
    color: #071C0C;
    font-size: 22px;
    font-family: 'proxima_nova', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px 0;
}

.modal .document-item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin: 0 20px 15px 20px;
    border-bottom: 1px solid #E8E9E8;
}

.modal .document-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal .document-icon {
    width: 33px;
    height: 28px;
    margin-right: 5px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .document-name {
    font-size: 16px;
    color: #232323CC;
    font-family: 'proxima_nova';
}

.modal select {
    width: 100%;
    padding: 10px 6px;
    border: 1px solid #D0D3D1;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Urbanist', sans-serif;
    color: rgba(35, 35, 35, 0.8);
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23232323' stroke-opacity='0.8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    margin-top: 30px;
}

.modal-btn__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 160px;
    height: 40px;
    padding: 10px;
    border: 1px solid #159C2A;
    background-color: #159C2A;
    color: #fff;
    border-radius: 3px;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
}

.modal-btn__submit:hover {
    background-color: #fff;
    color: #159C2A;
}

.modal-btn__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 160px;
    height: 40px;
    padding: 10px;
    border: 1px solid #1B1B1B;
    background-color: #1B1B1B;
    color: #fff;
    border-radius: 3px;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
}

.modal-btn__reset:hover {
    background-color: #fff;
    color: #1B1B1B;
}

.input-error {
    border-color: red !important; /* Делает рамку красной */
    /* Вы можете добавить и другие стили, например, background-color */
}

.validation-error-message {
    color: red;
    font-size: 0.9em; /* Или другой подходящий размер */
    margin-top: 5px; /* Отступ сверху от поля */
    display: block; /* Чтобы сообщение было на новой строке */
}

.modal .form-field {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 15px;
}

.modal .form-field:last-child {
    margin-bottom: 0;
}

.modal .form-field label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(35, 35, 35, 0.8);
}

.modal .form-field input {
    width: 100%;
    padding: 10px 6px;
    border: 1px solid #D0D3D1;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Urbanist', sans-serif;
    color: rgba(35, 35, 35, 0.8);
}

.modal .form-field input::placeholder,
.modal .form-field textarea::placeholder {
    color: #8B928C !important;
    opacity: 1;
}